<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <%= nav do %>
      <%= logo src: "/logo.svg" %>
      <p>This is just a paragraph with some text</p>
      <%= item "Home", root_path %>
      <%= item "Test", test_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
