<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= nav do |nav| %>
      <% nav.item "Home", root_path %>
      <% nav.item "Home", root_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
